[submodule "vim/bundle/vim-stylus"]
	path = vim/bundle/vim-stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
